body {
    background-color: #292b2f;
    margin: 0px auto;
    overflow: hidden;
}

.mat-icons {
    color: white;
    font-size: 48px;
}

html,
body {
	height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

#obs_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}